<img id="img"></img>
<script src="https://assets.jeffkmeng.com/jquery/2.2.4/js/jquery.min.js"></script>
<script>
    function getQuery(name) {
        var url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    if (getQuery("type").split("/")[0] === "image") {
    $("#img").attr("src", decodeURIComponent(getQuery("url")));
    } else {
        window.location.href = decodeURIComponent(getQuery("url"));
    }
</script>